body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    gap: 50px;
}
.title{
    font-size: 32px;
    padding-top: 50px;
    font-weight: 700;
}

.container{
    display: grid;
    width: 600px;
    background-color: white;
}

.options{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.square{
    aspect-ratio: 1;
}